<!DOCTYPE html>
<html>
<head>
	<title><%= @recipe.name %></title>
</head>
<body>
	<h1><%= @recipe.name %></h1>
	<% for column in @recipe.ingredients.split("\n") %>
		<p><%= column %></p>
	<%= end %>
	<h3><%= @recipe.cook_time %></h3>
</body>
</html>